<div class="container">
    <div class="row">
        <div class="col s12 m8 l6 offset-m2 offset-l3">
            <div class="card">
                <div class="card-content center-align">
                    <i class="material-icons large blue-text" style="font-size: 100px;">search_off</i>
                    <h2 class="blue-text">404</h2>
                    <h4>Página No Encontrada</h4>
                    <p class="flow-text">
                        La página que buscas no existe o ha sido movida.
                    </p>
                    <div class="row">
                        <div class="col s12">
                            <a href="/dashboard" class="btn waves-effect waves-light blue">
                                <i class="material-icons left">home</i>
                                Ir al Dashboard
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
